name: codecov

on:
  push:
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "docs/**"
      - "images/**"
      - ".github/ISSUE_TEMPLATE/**"

  pull_request:
    branches: [main]
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "docs/**"
      - "images/**"
      - ".github/ISSUE_TEMPLATE/**"

jobs:
  test:
    name: Collect and upload coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install ampworks
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox
          pip install .[tests]

      - name: Pytest with coverage
        run: nox -s tests

      - name: Upload to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
          files: ./reports/coverage.xml
